* {
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-image: linear-gradient(to bottom,
            #eafbff 0%,
            #eafbff 50%,
            #5290f9 50%,
            #5290f9 100%);
}

.navigation {
    background-color: white;
    width: 80px;
    height: 60px;
    transition: width 0.6s linear;
}

.navigation.active {
    width: 500px;

}

a {
    text-decoration: none;
}

.navigation ul {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
    width: 0;
    transition: width 0.6s linear;
}

.navigation.active ul {
    width: 100%;
}

.navigation ul li {
    transform: rotateY(0deg);
    margin-right: 20px;
    /* opacity: 0; */
    transition: transform 0.6s linear, opacity 0.6s linear;
}

.navigation.active ul li {
    opacity: 1;
    transform: rotateY(360deg);
}

.icon {
    width: 60px;
    height: 60px;
    /* border: 0; */
    background-color: transparent;
    position: relative;

}

.icon .line {
    background-color: green;
    height: 2px;
    position: absolute;
    top: 10px;
    left: 5px;

}

.navigation.active .icon .line1 {
    transform: rotate(-765deg) translateY(5.5px);
}

.navigation.active .icon .line2 {
    transform: rotate(765deg) translateY(-5.5px);
}

.icon .line1 {
    position: absolute;
    top: 10px;
    transform: ;
}