* {
    box-sizing: border-box;
}

body {
    height: 100vh;
    margin: 0;
    position: relative;
}

.container {
    width: 100%;
    height: 80px;
    background-color: rgb(49, 44, 44);
    line-height: 80px;
    color: #fff;
    position: fixed;
}

.change {
    background-color: #fff;
    color: #000;
}

span {
    margin-left: 20px;
}

.title {
    font-size: 22px;
    font-weight: 600;
}


.container a {
    text-decoration: none;
    color: #fff;
}

.container.change a {
    color: #000;
}

.container .nav {
    display: inline-block;
    position: absolute;
    right: 20px;
}

.container .nav .active a {
    color: rgb(180, 12, 12);
}


.pic {
    width: 100%;
    height: 800px;
    background-image: url(/images/v2-9f5c6c54ba2e5bd1773ed6c7a18aa2ea_r.jpg);
    background-position: center center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}