body {
    height: 100vh;
    display: flex;
    justify-content: center;
    /* 在横轴上居中对齐 */
    align-items: center;
    /* 在纵轴上居中对齐 */
    align-content: center;
    overflow: hidden;
}

.container {
    display: flex;
    width: 90vw;
}

.image {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 500px;
    flex: 0.5;
    margin-right: 10px;
    border-radius: 40px;
    position: relative;
    transition: all 2s ease-in;
}


.image.active {
    /* width: 500px; */
    flex: 5;

}

.image h3 {
    position: absolute;
    color: white;
    left: 20px;
    bottom: 10px;
}

@media (max-width: 480px) {
    .container {
        width: 100vw;
    }

    .panel:nth-of-type(4),
    .panel:nth-of-type(5) {
        display: none;
    }
}