* {
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0;
    height: 100vh;
    background-size: cover;
    background-position: center center;
    transition: 0.4s ease;
}

body::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: -1;
}

.container {
    width: 70vw;
    height: 70vh;
    position: relative;
    overflow: hidden;
}

.image {
    opacity: 0;
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: -15vh;
    left: -15vw;
    background-size: cover;
    background-position: center center;
    transition: 0.4s ease;
    z-index: 1;
}

.image.active {
    opacity: 1;
}


.btn {
    border-bottom: 2px solid orange;
    border-top: 2px solid orange;
    height: 60px;
    width: 50px;
    position: absolute;

}

.btn.left {
    border-left: 2px solid orange;
    top: 50%;
    left: 50%;
    transform: translate(-365px, -50%);
}

.btn.right {
    border-right: 2px solid orange;
    top: 50%;
    left: 50%;
    transform: translate(315px, -50%);
}